doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.app
    nav.navbar.navbar-default
      div.navbar-header Mangoes list: courtesy GoodSeeds - a trademark licensed to Upeksha Sustainable Products Pvt Ltd.
    block content